@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}


.floating-head {
  transition: transform 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    to bottom right,
    rgb(219, 39, 119),   
    rgb(162, 28, 175),   
    rgb(49, 46, 129)    
  );
  -webkit-overflow-scrolling: touch;

}
.main-scroll {
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
@media (max-width: 768px) {
  body.main-container {
    height: calc(var(--vh, 1vh) * 100);
  }
}
