@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --font-heading: 'Playfair Display', serif;
  --font-body: 'Inter', sans-serif;
  --font-accent: 'Dancing Script', cursive;
}


.floating-head {
  transition: transform 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  
}

body.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    to bottom right,
    rgb(219, 39, 119),   
    rgb(162, 28, 175),   
    rgb(49, 46, 129)    
  );
  -webkit-overflow-scrolling: touch;
  

}
h1, h2, h3 {
  font-family: var(--font-heading);
}
.accent {
  font-family: var(--font-accent);
}
.main-scroll {
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 768px) {
  body.main-container {
    height: calc(var(--vh, 1vh) * 100);
  }
}

/* toast from vue toaster */
.custom-toast {
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.custom-toast:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.356);
}
